body {
 
  background-image: url("/assets/img/email-pattern.png"); 
}

a, a::after, a::before{
text-decoration: none;
color: gray;
}
.main-container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr); }

.nav {
  color: white;

  grid-column: 1/13;
  grid-row: 1/1;
  padding: 30px 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background: white; }

.logo {
  grid-column: 2/6;
  grid-row: 1/1;
  background: #4aaaa5;
  text-align: center;
  align-self: flex-end;
  padding: 20px; }

.nav-ul {
  text-align: right;
  grid-column: 7/13;
  grid-row: 1/1; }

.links {
  display: inline-block;
  padding: 0 20px 0 20px; }

.menu-icon-hide {
  display: none; }

.main {
  grid-column: 1/13;
  grid-row: 3/11;
  background: white;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 40px; }

.header {
  grid-column: 1/5;
  grid-row: 1/2;
  color: #4aaaa5; }

.card {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to right bottom, rgba(16, 152, 143, 0.5), rgba(222, 18, 18, 0.5)),
   url("https://images.unsplash.com/photo-1544931170-3ca1337cce88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  border-radius: 10px;
  color: white;
  grid-column: 1/13;
  grid-row: 3/13;
  border-radius: 10px;
  padding: 10px; }

.image {
  border-radius: 100px; }

.descriction {
  margin-top: 40px;
  grid-column: 1/13;
  grid-row: 13/16;
  text-align: center; }

.footer {
  border-top: 5px solid #4aaaa5;
  padding: 30px;
  grid-column: 1/13;
  grid-row: 11/12;
  background: #666666;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
}
/*CONTACT PAGE*/
.form{
  grid-column: 1/13;
  grid-row: 3/11;
 

 
}
.input{
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #777777;
}

label {
  width: 90%;
  color: #4aaaa5;
  margin: 0 auto;
  display: block;

  
 }

 .btn {
 
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  outline: none;
  display: inline-block;
  transition: all .2s; 
  margin-left: 40px;
}
  

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  border: none;
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-tail {
  color: white;
  background: #4aaaa5; }
  /*Portafolio*/

.proyects {
max-width: 100%;
grid-column: 1/13;
  grid-row: 2/11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 20px;
  text-align: center;
  

}

.proyects::after {
}

.proyect {
  text-transform: uppercase; 
  border-radius: 10px;
  position: relative;
}
  .proyect:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); }
  .proyect:active {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  }
  
    .title{
      background-image: linear-gradient(to right, rgba(0, 221, 245, 0.5), rgba(0, 221, 245, 0.5));
      display: block;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 0.2rem;
      font-weight: bold;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -90%);
      
      
    }

    .proyect-1 {
      background-image: linear-gradient(to right bottom, rgba(10, 11, 11, 0), rgba(235, 13, 183, 0)), 
      url("https://media-public.canva.com/MADGvh8ZuBU/7/screen_2x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .proyect-2 {
      background-image: linear-gradient(to right bottom, rgba(10, 11, 11, 0), rgba(235, 13, 183, 0)), 
      url("https://media-public.canva.com/MADU6wxYBVA/1/screen_2x.jpg"); }
    .proyect-3 {
      background-image: linear-gradient(to right bottom, rgba(10, 11, 11, 0), rgba(235, 13, 183, 0)), 
      url("https://media-public.canva.com/MADWeDH4rPw/1/screen_2x.jpg"); }
    .proyect-4 {
      background-image: linear-gradient(to right bottom, rgba(10, 11, 11, 0), rgba(235, 13, 183, 0)),
       url("https://media-public.canva.com/MAC78fvWCBc/1/screen_2x.jpg"); }
    .proyect-5 {
      background-image: linear-gradient(to right bottom, rgba(10, 11, 11, 0), rgba(235, 13, 183, 0)), 
      url("https://media-public.canva.com/MACDdt9KWDo/1/screen_2x.jpg"); }
      .proyect-6 {
        background-image: linear-gradient(to right bottom, rgba(10, 11, 11, 0), rgba(235, 13, 183, 0)), 
        url("https://images.unsplash.com/photo-1485811055483-1c09e64d4576?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"); }
  